.Rproj.user
.Rhistory
.RData
.Ruserdata

# OS artifacts
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Microsoft Office temp files
~$*

# Local binaries / packages
packages/
